// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blue: #2D4054;
$violet: #C399F2;
$green: #B0F451;
$white: #FFFFFF;
$black: #000000;
