<h1><%= @user.full_name %></h1>
<div class="overflow-cards">
  <div class="card-account-container">
    <% @user.accounts.each do |a| %>
      <div class="card-account">
        <%= a.name %>
        <p>Balance:</p>
        <%= a.amount %>
      </div>
    <% end %>
  </div>
</div>

<div class= "dashboard-info row">
  <div class= "chart-transaction row col-8">
    <div class= "chart col-12">
    </div>
    <div class= "transactions col-12">
    </div>
  </div>
  <div class= "balances col-4">
  </div>
</div>
