<h1 class="dashboard-title"><%= @user.full_name %></h1>
<div class="dashboard-container row ">
  <div class="overflow-cards grid col-8 ">
    <div class="card-account-container g-col-12">
      <% @user.accounts.each do |a| %>
        <div class="card-account">
          <%= a.name %>
          <p>Balance:</p>
          <%= a.amount %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="new-account text-center col-4">
    <i class="fa-solid fa-circle-plus fa-3x" data-bs-toggle="modal" data-bs-target="#newAccountModal"></i>
    <%= render 'accounts/modal_new' %>
  </div>
</div>

<div class= "dashboard-info row mt-5">
  <div class= "chart-transaction row col-8">
    <div class= "chart col-12">
    </div>
    <div class= "transactions col-12">
    </div>
  </div>
  <div class= "balances col-4">
  </div>
</div>
