<div class="select-container">
  <select name="select" id="chart-selector" class="chart-select">
    <option selected value="select-a-chart" class="content-chart-select">Select a chart:</option>
    <option value="expenses-by-category" class="content-chart-select">Expenses by Category</option>
    <option value="my-accounts" class="content-chart-select">My accounts</option>
    <option value="last-seven-days" class="content-chart-select">Last Seven Days</option>
    <option value="last-month" class="content-chart-select">Last Month</option>
  </select>
</div>

<div class="chars-container">
  <div id="expenses-by-category" >
    <%= pie_chart current_user.transactions.joins(:category).where(category: {category_type: :Expenses}).group(:name).sum(:amount), library: { backgroundColor: "#2D4054", dataset: {borderWidth: 10, fillColor: "#ffffff"}, vAxis: { baselineColor: "#ffffff", gridlines: {Color: "ffffff" }, textStyle: { color: "#ffffff"}, titleTextStyle: {color: "#ffffff"} }, hAxis: { baselineColor: "#ffffff" , gridlines: {Color: "#ffffff" }, textStyle: { color: "#ffffff"} , titleTextStyle: {color: "#ffffff"} }, legend: { textStyle: { color: '#ffffff' } } }  %>
  </div>
  <div id="my-accounts">
    <%= bar_chart current_user.accounts.group(:name).sum(:amount), library: { backgroundColor: "#2D4054", dataset: {borderWidth: 10, fillColor: "#ffffff"}, vAxis: { baselineColor: "#ffffff", gridlines: {Color: "" }, textStyle: { color: "#ffffff"}, titleTextStyle: {color: "#ffffff"} }, hAxis: { baselineColor: "#ffffff" , gridlines: {Color: "" }, textStyle: { color: "#ffffff"} , titleTextStyle: {color: "#ffffff"} } }  %>
  </div>
  <div id="last-seven-days">
    <%= column_chart current_user.transactions.group_by_day(:date, last: 7, format: "%a").sum(:amount),  library: { backgroundColor: "#2D4054", dataset: {borderWidth: 10, fillColor: "#ffffff"}, vAxis: { baselineColor: "#ffffff", gridlines: {Color: "" }, textStyle: { color: "#ffffff"}, titleTextStyle: {color: "#ffffff"} }, hAxis: { baselineColor: "#ffffff" , gridlines: {Color: "" }, textStyle: { color: "#ffffff"} , titleTextStyle: {color: "#ffffff"} } }  %>
  </div>
  <div id="last-month">
    <%= line_chart current_user.transactions.group(:account_id).group_by_day(:date, last: 30).sum(:amount), library: { backgroundColor: "#2D4054", dataset: {borderWidth: 10, fillColor: "#ffffff"}, vAxis: { baselineColor: "#ffffff", gridlines: {Color: "" }, textStyle: { color: "#ffffff"}, titleTextStyle: {color: "#ffffff"} }, hAxis: { baselineColor: "#ffffff" , gridlines: {Color: "" }, textStyle: { color: "#ffffff"} , titleTextStyle: {color: "#ffffff"} }, legend: { textStyle: { color: '#ffffff' } } }  %>
  </div>
</div>
