<div class="footer">
  <div class="message">
    <img src="https://cdn-icons-png.flaticon.com/512/7860/7860248.png" alt="easy to handle">
    <p>Easy to handle</p>
  </div>
    <div class="message">
    <img src="https://cdn-icons-png.flaticon.com/512/702/702814.png" alt="financial tips">
    <p>Financial tips</p>
  </div>
    <div class="message">
    <img src="https://cdn-icons-png.flaticon.com/512/478/478544.png" alt="charts">
    <p>Charts with your expenses and income</p>
  </div>
</div>
