.chart-transaction {
  background-color: aliceblue;
  border: 1px solid white;
  height: 500px
}

.chart {
  background-color: red ;
  border: 1 solid white;
  height: 250px;
}

.balances {
  background-color: green;
  border-radius: 1 solid white;
  height: 500px;
}

.transactions {
  background-color: purple;
  border-radius: 1 solid white;
  height: 250px;
}
