.form-container {
  background: linear-gradient(rgba(248, 248, 248, 0.8) 0%, rgba(119, 131, 144, 0.291257) 52.14%) !important;
  opacity: 0.9 !important;
  // filter: blur(1px) !important;
  border-radius: 20px !important;
  padding: 60px;
  color: black;
  margin: 20px auto;
}
