.home-container {
  background-color: $blue;
  padding: 50px;
}

.home-text {
  color: $white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  margin-top: 60px;
  margin-left: 20px;
}

.home-image {
  font-family: "Josefin Sans", sans-serif;
  height: 0;
  overflow: visible;
}
