.home-container {
  background-color: $blue;
  min-height: 100vh;
  padding: 50px;
}

.home-text {
  color: $white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
}

.home-image img {
  margin: auto;
  align-items: center;
  text-align: center;
  width: 90%;
}
